@using BestRestaurant.Models;

<h1>Restaurant Details</h1>

@Model.Name <br>
Address: @Model.Address <br>
Phone Number: @Model.PhoneNumber <br><br>

<form action="/restaurant/:@Model.Id" method="post">
  <button type="submit" name="button">Delete</button>
</form>


@* @Model["restaurant"].Name
@Model["restaurant"].Address
@Model["restaurant"].PhoneNumber *@
