@{
  Layout = "_Layout";
}

@* <h1>@Model["Restaurant"].CountryName</h1> *@

<p>Type: @Model["Restaurant"].Name</p>
<p>Name: @Model["Restaurant"].Address</p>
<p>Sex: @Model["Restaurant"].PhoneNumber</p>

@* <ol>
@foreach (Animal animal in @Model["animal"])
{
  <li><a href="/animals/@Model["animal"].CountryCode/cities/@city.CityId">@city.CityName</a></li>
}
</ol> *@
